/** User Card **/

.employers_navigation {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px;
    border: 1px solid var( --divider_color );
}

.employers_content {
    width: 100%;
    max-width: 1280px;
}

.employers_content .body {
    display: flex;
    flex-direction: column;
}

.employers_navigation {
    margin-bottom: 24px;
}

.employers_content .body .employers_feed {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
}

.user_card {
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.user_card .image {
    background-color: var(--sub_bacground);
}

.user_card .image a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.user_card .image img {
    max-width: 75%;
    border-radius: 50%;
}

.user_card .body {
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: var( --content_background );
    flex-grow: 1;
}

.user_card .body .header {
    display: flex;
    flex-direction: column;
}

.user_card .body .header .name {
    font-size: 24px;
    font-family: var( --regular_font_family );
    color: var( --regular_font_color );
    margin-bottom: 8px;

}

.user_card .body .header .name a {
    color: var( --regular_font_color );
    transition: var( --regular_transition );
    opacity: var(--opacity_notfocus);
    text-decoration: none;
}

.user_card .body .header .name a:hover {
    color: var( --accent_font_color );
    opacity: 1;
    text-decoration: underline;
}

.user_card .body .header .divider {
    border-left: 1px solid var( --divider_color );
    margin-right: 8px;
    height: 24px;
}

.user_card .body .header .position {
    color: var( --sub_font_color );
    padding-bottom: 8px;
    border-bottom: 1px solid var(--divider_color);
    margin-bottom: 8px;
}

.user_card .body .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.user_card .body .description {
    font-size: 14px;
    line-height: 22px;
    font-family: var(--regular_font_color);
    color: var(--regular_font_color );
    margin-bottom: 16px;
}

.user_card .body .footer {
    display: flex;
    justify-content: space-between;
}

.user_card .body .footer .skill a {
    font-size: 12px;
    text-decoration: none;
    color: var( --support_font_color );
    transition: var( --regular_transition );
    opacity: var( --opacity_notfocus );
}

.user_card .body .footer .skill a:before {
    font-size: 12px;
    content: '#';
    color: var( --support_font_color );
}

.user_card .body .footer .skill a:after {
    font-size: 12px;
    content: ',';
    color: var( --support_font_color );
}

.user_card .body .footer .skill:hover a {
    color: var( --accent_hover_font_color );
    text-decoration: underline;
    opacity: 1;
}

.user_card .body .footer .skill:hover a:before,
.user_card .body .footer .skill:hover a:after {
    color: var( --accent_hover_font_color );
}

.user_card .body .footer .skill:last-of-type a:after {
    content: '';
}

/** User Page **/

.user_page {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 32px;
    width: 100%;
    height: auto;
}

.user_page .info_panel {
    display: flex;
    flex-direction: column;
    width: 260px;
    padding: 16px;
    background-color: var( --content_background );
    box-shadow: 2px 2px 6px 2px #66666666;
    position: sticky;
    top: 112px;
    height: fit-content;
}

.user_page .info_panel .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_page .info_panel .avatar img {
    max-width: 85%;
    border-radius: 50%;
}

.user_page .info_panel .name {
    display: flex;
    justify-content: center;
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 8px;
    color: var( --regular_font_color );
}

.user_page .info_panel .position {
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin-bottom: 8px;
    color: var( --sub_font_color );
}

.user_page .tabs_container {
    display: flex;
    flex-direction: column;
}

.user_page .tabs_container .tab_item {
    display: flex;
    align-items: center;
    position: relative;
    height: 50px;
    padding: 0 8px;
    border-top: 1px solid var( --divider_color );
    background: var( --content_background );
    cursor: pointer;
}

.user_page .tabs_container .tab_item .nice_svg {
    margin-right: 8px;
}

.user_page .tabs_container .tab_item svg {
    fill: var( --unactive_icon_color );
}

.user_page .tabs_container .tab_item .label {
    color: var( --sub_font_color );
    transition: 0.4s;
}

.user_page .tabs_container .tab_item:hover {

}

.user_page .tabs_container .tab_item:hover svg {
    fill: var( --accent_hover_icon_color );
}

.user_page .tabs_container .tab_item:hover .label {
    color: var( --accent_hover_font_color );
}

.user_page .tabs_container .tab_item.current {

}

.user_page .tabs_container .tab_item.current svg {
    fill: var( --accent_icon_color );
}

.user_page .tabs_container .tab_item.current .label {
    color: var( --accent_font_color );
}

.user_page .user_page__content {

}

.user_page .tabs_content {
    display: flex;
    flex-direction: column;
}

.user_page .tab {
    display: flex;
    flex-direction: column;
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: var( --regular_transition );
    overflow: hidden;
}
.user_page .tab.current {
    height: auto;
    visibility: visible;
    opacity: 1;
}

.user_page .tab .tab_title {
    font-size: 24px;
    font-family: var( --regular_font_family );
    color: var( --accent_font_color );
    margin: 0 0 16px 0;
}

.profile_cards {
    column-count: 2;
    column-gap: 16px;
    column-width: fill-available;
}

.profile_cards .nice_metabox {
    width: 100%;
}

.nice_metabox .profile_meta {
    margin-bottom: 8px;
    display: flex;
}

.nice_metabox .profile_meta .key {
    margin-right: 8px;
    font-weight: 600;
    display: flex;
    align-items: center;
    min-width: 120px;
}

.nice_metabox .profile_meta .key .nice_svg {
    margin-right: 8px;
}

.nice_metabox .profile_meta .value {

}

.user_feed {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
}

.user_docs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 24px;
}

.user_docs .document_container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    transition: var( --regular_transition );
    cursor: pointer;
}

.user_docs .document_container a {
    line-height: 0;
}

.user_docs .document_container img {
    object-fit: contain;
}

.user_docs .document_container .caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #00000088;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 4px 16px;
}

.user_docs .document_container .caption .title {
    font-size: 18px;
    margin-bottom: 8px;
}

.user_docs .document_container .caption .description {
    font-size: 15px;
}

.user_docs .document_container:hover {
    transform: scale( 1.05 );
}